### ***INFERENCIAL STATISTICS***

In [2]:
import numpy as np

#### ***Generate Sample Data: heights of 30 students ( in inches )***

In [3]:
np.random.seed(40)
heights = np.random.normal(loc=65 ,scale=3, size=30)

In [4]:
heights

array([63.17735691, 64.62159076, 62.94618092, 67.78614425, 59.4667969 ,
       63.59899273, 71.87747103, 66.46643016, 67.13080097, 68.16660333,
       65.1622193 , 65.77386025, 66.76484495, 67.65573272, 61.94897893,
       64.59892091, 63.6854435 , 66.48033048, 64.40297264, 61.17504918,
       65.88048246, 65.32685094, 65.09518036, 68.81791959, 68.2143437 ,
       66.24745404, 69.65203769, 64.06586325, 60.86228028, 69.11422636])

#### 

***Point Estimation: calculate the Sample Mean***

In [5]:
sample_mean = np.mean(heights)
print("Sample Mean (Point Estimate):",sample_mean)

Sample Mean (Point Estimate): 65.53877864874389

In [6]:
import numpy as np
import scipy.stats as stats

#### ***Generate Sample data: Heights of 30 students (in inches)***

In [7]:
np.random.seed(42)
heights = np.random.normal(loc=65 ,scale=3, size=30)

#### ***Calculate Sample Mean and Sample Deviation***

In [8]:
sample_mean = np.mean(heights)
sample_std = np.std(heights, ddof =1)

#### _***Set the Desired Confidence Level***_

In [9]:
confidence_level = 0.95

#### ***Calculate the Margin of Error***

In [10]:
margin_of_error = stats.t.ppf((1+ confidence_level) /2,len(heights) -1)* (sample_std / np.sqrt(len(heights)))

#### ***Calculate the Confidence Intervel***

In [11]:
lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean - margin_of_error

#### ***Print the Confidence Intervel***

In [12]:
print(f"Confidence Intervel ({confidence_level*100}%): [{lower_bound}, {upper_bound}]")

Confidence Intervel (95.0%): [63.427355543105506, 63.427355543105506]

### ***Hypothesis T Test***

In [13]:
import numpy as np
from scipy import stats

#### ***Generate sample Data for Two Groups***

In [14]:
np.random.seed(42)
group1_scores = np.random.normal(loc=70,scale=5,size=30)
group2_scores = np.random.normal(loc=75,scale=5,size=30)

#### ***Perform Independent T Test***

In [15]:
t_statistics,p_value = stats.ttest_ind(group1_scores,group2_scores)

#### ***Set The Significance Level***

In [16]:
alpha = 0.05

In [17]:
print("T-test Results:")
print("T-statistic:",t_statistics)
print("P-value:",p_value)

T-test Results:
T-statistic: -4.512913234547576
P-value: 3.176506547469916e-05

#### ***Check if the p-value is less than Alpha to Determine significance***

In [18]:
if p_value < alpha:
    print("Reject the Null hypothesis .there is a significance difference between the means of the two groups.") 
         
else:
    print("Fail to reject the Null hypothesis. There is no significant difference between the means of the two groups.")

Reject the Null hypothesis .there is a significance difference between the means of the two groups.

#### ***Perform Two-Tailed-Test***

In [27]:
t_statistic_2tail, p_value_2tail = stats.ttest_ind(group1_scores,group2_scores)

#### ***Perform One Tailed t-Test(Right to Left)***

In [28]:
t_statistic_1tail_right, p_value_2tail_right = stats.ttest_ind(group1_scores,group2_scores,alternative="greater")

#### ***Perform One Tailed t-Test(Left to Right)***

In [29]:
t_statistic_1tail_left, p_value_2tail_left = stats.ttest_ind(group1_scores,group2_scores,alternative="greater")

#### ***Print One-Tailed(Left-tailed)Test Results***

In [30]:
print("Two-tailed Test:")
print("T-statistic:",t_statistic_2tail)
print("P-value:",p_value_2tail)

Two-tailed Test:
T-statistic: -4.512913234547576
P-value: 3.176506547469916e-05